*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-wrap: pretty;
  box-sizing: border-box;
}

@font-face {
  font-family: Akt;
  src:
    url("../assets/fonts/Akt-VF.woff2") format("woff2"),
    url("../assets/fonts/Akt-VF.woff") format("woff"),
    url("../assets/fonts/Akt-VF.ttf") format("truetype");
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: Karla;
  src:
    url("../assets/fonts/Karla-VF.woff2") format("woff2"),
    url("../assets/fonts/Karla-VF.woff") format("woff"),
    url("../assets/fonts/Karla-VF.ttf") format("truetype");
  font-display: swap;
  font-weight: 100 900;
}

:root {
  --text-primary: "Akt", sans-serif, system-ui;
  --text-secondary: "Karla", sans-serif, system-ui;
  --border-transparent: rgb(0 0 0 / 12.5%);
  --hover-button: rgb(120 120 120 / 30%);
  --shadow-box: color-mix(in srgb, rgb(155 155 155), rgb(0 0 0));
  --color-text: #0f5238;
  --border-width: 50%;
}

.nav-menu {
  border-bottom: 2px solid var(--border-transparent);
  box-shadow: 0 0 3px rgb(12 0 12 / 80%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;

  & .logo a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--color-text);
    font-family: var(--text-primary);
    letter-spacing: 0.04em;
  }

  & .menu > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0.5rem;
    border-radius: var(--border-width);
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.155s;

    &:hover {
      background-color: var(--hover-button);
    }
  }

  & .search > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0.5rem;
    border-radius: var(--border-width);
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.155s;

    &:hover {
      background-color: var(--hover-button);
    }
  }
}

form {
  max-width: 90dvw;
  margin: auto;
  border-radius: 50px;
  background-color: rgb(246 243 242);
  margin-block: 2rem;

  & .input-container {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    padding-inline: 2rem;

    & input[type="search"] {
      background-color: inherit;
      border: none;
      outline: none;
      width: 100%;
      padding: 1rem;
      font-size: 1.1rem;
      font-family: var(--text-secondary);
    }
  }

  &:focus-within {
    outline: 2px solid var(--border-transparent);
  }
}

.daily-deal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90dvw;
  margin: auto;
  height: 350px;
  box-shadow: 0 0 2px 0 #000;
  border-radius: 10px;
  background-image: linear-gradient(rgb(255 182 141 / 75%), rgb(255 182 141 / 75%));
  position: relative;
  overflow: hidden;

  & .daily-deal-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  & .daily-content {
    display: flex;
    flex-direction: column;
    padding: 1rem 2.5rem;

    & span {
      font-family: var(--text-secondary);
      font-weight: bold;
      color: var(--color-text);
      background-color: color-mix(in srgb, var(--color-text) 20%, transparent);
      padding: 0.2rem 0.5rem;
      border-radius: 8px;
      align-self: flex-start;
    }

    & h1 {
      font-family: var(--text-primary);
      color: rgb(51 18 0);
      font-size: 3rem;
      line-height: 1.1em;
      margin-block: 1rem;
    }

    & p {
      font-family: var(--text-secondary);
      color: rgb(51 18 0 / 90%);
      line-height: 1.3em;
      margin-bottom: 1rem;
      font-size: 1.3rem;
    }

    & button {
      font-size: 0.925rem;
      font-weight: bold;
      font-family: var(--text-secondary);
      align-self: flex-start;
      background-color: rgb(252 138 64);
      color: rgb(51 18 0);
      padding: 0.9rem 1.3rem;
      border-radius: 50px;
      border: none;
      cursor: pointer;
      transition: transform 0.2s ease-in;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.food-section {
  --size: 80px;
  --img-view: inset(10%);
  --img-view-hover: inset(9%);

  max-width: 90dvw;
  font-family: var(--text-primary);
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .food-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    & :where(a) {
      text-decoration: none;
      color: var(--color-text);
      font-family: var(--text-secondary);
      font-weight: bold;
      font-size: 1.1rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  & .food-link {
    text-decoration: none;
    color: #000;
  }

  & .food-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-block: 1rem;

    & .food-pizza {
      h3 {
        text-align: center;
        font-size: 0.9rem;
        font-family: var(--text-secondary);
      }

      img {
        width: var(--size);
        height: var(--size);
        border-radius: var(--border-width);
        object-fit: cover;
        transition:
          box-shadow 0.3s ease,
          object-view-box 0.3s ease-in-out;
        object-view-box: inset(10%);

        &:hover {
          box-shadow: 0 0 10px 0 rgb(144 144 144);
          object-view-box: var(--img-view-hover);
        }
      }
    }

    & .food-burgers {
      h3 {
        text-align: center;
        font-size: 0.9rem;
        font-family: var(--text-secondary);
      }

      img {
        width: var(--size);
        height: var(--size);
        border-radius: var(--border-width);
        object-fit: cover;
        transition:
          box-shadow 0.3s ease,
          object-view-box 0.3s ease-in-out;
        object-view-box: inset(10%);

        &:hover {
          box-shadow: 0 0 10px 0 rgb(144 144 144);
          object-view-box: var(--img-view-hover);
        }
      }
    }

    & .food-sushi {
      h3 {
        text-align: center;
        font-size: 0.9rem;
        font-family: var(--text-secondary);
      }

      img {
        width: var(--size);
        height: var(--size);
        border-radius: var(--border-width);
        object-fit: cover;
        transition:
          box-shadow 0.3s ease,
          object-view-box 0.3s ease-in-out;
        object-view-box: inset(10%);

        &:hover {
          box-shadow: 0 0 10px 0 rgb(144 144 144);
          object-view-box: var(--img-view-hover);
        }
      }
    }

    & .food-salads {
      h3 {
        text-align: center;
        font-size: 0.9rem;
        font-family: var(--text-secondary);
      }

      img {
        width: var(--size);
        height: var(--size);
        border-radius: var(--border-width);
        object-fit: cover;
        transition:
          box-shadow 0.3s ease,
          object-view-box 0.3s ease-in-out;
        object-view-box: inset(10%);

        &:hover {
          box-shadow: 0 0 10px 0 rgb(144 144 144);
          object-view-box: var(--img-view-hover);
        }
      }
    }

    & .food-bakery {
      h3 {
        text-align: center;
        font-size: 0.9rem;
        font-family: var(--text-secondary);
      }

      img {
        width: var(--size);
        height: var(--size);
        border-radius: var(--border-width);
        object-fit: cover;
        transition:
          box-shadow 0.3s ease,
          object-view-box 0.3s ease-in-out;
        object-view-box: inset(10%);

        &:hover {
          box-shadow: 0 0 10px 0 rgb(144 144 144);
          object-view-box: var(--img-view-hover);
        }
      }
    }

    & .food-drinks {
      h3 {
        text-align: center;
        font-size: 0.9rem;
        font-family: var(--text-secondary);
      }

      img {
        width: var(--size);
        height: var(--size);
        border-radius: var(--border-width);
        object-fit: cover;
        transition:
          box-shadow 0.3s ease,
          object-view-box 0.3s ease-in-out;
        object-view-box: inset(10%);

        &:hover {
          box-shadow: 0 0 10px 0 rgb(144 144 144);
          object-view-box: var(--img-view-hover);
        }
      }
    }
  }
}

.popular-section {
  max-width: 90dvw;
  height: 100%;
  margin: 0 auto;
  font-family: var(--text-primary);
  padding-block: 1rem;

  & header > h2 {
    margin-block: 1rem;
    font-weight: bold;
  }

  & .popular-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    & .food-container {
      border: 1px solid var(--border-transparent);
      width: 250px;
      height: 330px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      & .food-banner {
        flex-shrink: 0;
        height: 150px;
        position: relative;

        & span {
          position: absolute;
          top: 5px;
          left: 5px;
          background-color: green;
          color: #fff;
          font-family: var(--text-secondary);
          font-weight: 600;
          padding: 0.2rem 0.6rem;
          border-radius: 8px;
          font-size: 0.9rem;
        }

        & img {
          width: 100%;
          height: 100%;
          outline: 1px solid var(--border-transparent);
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          object-fit: cover;
          object-view-box: inset(5%);
          transition: object-view-box 0.2s ease-in;
        }
      }

      & .food-description {
        padding: 1rem;

        & h2 {
          margin-bottom: 0.5rem;
          font-weight: 400;
          font-size: 1.3rem;
        }

        & p {
          font-family: var(--text-secondary);
          color: rgb(44 44 44);
          font-size: 0.9rem;
        }
      }

      &:hover .food-banner img {
        object-view-box: inset(0%);
      }
    }
  }

  & .food-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    margin-block: auto 1rem;

    & :where(p) {
      color: var(--color-text);
      font-size: 1.9rem;
      font-weight: bold;
    }

    & :where(button) {
      border: none;
      padding: 0.3rem 0.8rem;
      border-radius: 50%;
      background-color: rgb(252 138 64);
      font-size: 1.5rem;
      cursor: pointer;
      transition:
        font-size 0.2s ease,
        color 0.2s ease;

      &:hover {
        color: #fff;
        background-color: rgb(103 44 0);
      }
    }
  }
}

@media (width <= 850px) {
  .nav-menu {
    padding-inline: 0.5rem;
  }

  .food-section {
    padding-inline: 1.5rem;
  }

  form .input-container {
    gap: 0.4rem;

    & input[type="search"] {
      font-size: 0.9rem;
    }
  }

  .daily-deal .daily-content h1 {
    font-size: 2.5rem;
  }

  .food-categories {
    justify-content: center;
  }
}
